

    <%- include('../templates/header') %>
      <div class="w-md mx-auto shadown  bg-white">
        <img
          class="w-full object-cover mx-auto rounded-md"
          src="https://i.pinimg.com/736x/56/07/ca/5607ca2797f2e4e7e0508c1065489a01.jpg"
          alt=""
        />
      </div>
  
 <%- include('../templates/footer') %>
