<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>expresss</title>
  </head>
  <body>
    <h1>Bonjour depuis le fichier html</h1>
    <img
      src="https://i.pinimg.com/1200x/fe/92/13/fe92132e21d289ae6759258ee1ddc9d4.jpg"
      alt=""
      width="300"
    />

    <form action="/form" method="post">
      <div>
        <input type="email" placeholder="email">
      </div>
      <div>
        <input type="password" placeholder="password">
      </div>
      <div>
        <button>Send</button>
      </div>
    </form>
  </body>
</html>
